#pane{
    -fx-background-image: url("snake-game.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#paneTuto{
    -fx-background-image: url("download.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#btnBack {
    -fx-background-color: darkolivegreen;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-font-size: 15;
}

#btnJogar {
    -fx-background-color: darkolivegreen;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-font-size: 15;
}

#btnTutorial {
    -fx-background-color: darkolivegreen;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-font-size: 15;
}

#food {
    -fx-background-image: url("apple.png");
    -fx-background-size: 5 5;
    -fx-background-position: center;
}
